<div class="container w-50 new-form">
  <%= link_to list_path(@list) do %>
   <i class="fas fa-arrow-circle-left back-button mt-3"></i>
   <% end %>
  <h1>Update Your List</h1>
  <div class="row">
    <div class="col">
      <%= render "form", list: @list %>
    </div>
  </div>
</div>
