<div>
   <%= render "banner" %>
</div>
<div class="container list-cards">
  <div class="row">
    <h1 style="color:white;">My Lists > </h1>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div id="list-card" class="col-6 my-3">
        <%= link_to list_path(list) do %>
          <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("https://loremflickr.com/g/320/240/#{list.name}") %>)">
             <h1><%= list.name %></h1>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
