<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="movie-cards">
        <%= render "shared/build-movie-only-card" %>
      </div>
    </div>
    <div class="col-4 color-border">
      <div class="search-modal-card" style="position:fixed">
        <h1 class="list-page-links">Select A Movie...</h1>
      </div>
    </div>
  </div>
</div>

