.list-page-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow:1px 1px #CF0021;
}

.list-title {
  margin-top: 100px;

}

.far.fa-plus-square {
  font-size: 32px;
  color: white;
  text-decoration: none;
}

