.list-page-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow:1px 1px #CF0021;
}

.list-title {
  margin-top: 24px;

}

#show-underline {
  border-bottom: 1px solid white;
  box-shadow: 0 2px 0 #CF0021;
  &:hover {
    border-bottom: none;
  }
}

.far.fa-plus-square {
  font-size: 32px;
  color: white;
  text-decoration: none;
}

#overall-underline{
  border-bottom: 1px solid white;
}
