.movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 24px;
}

.movie-card {
  background-size: cover;
  background-position: center;
  max-height: 500px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px #CF0021;
  border:solid 5px rgba(255, 255, 255,1) ;
  text-decoration: none;
  transition: ease-in-out 1s;
  opacity: 0.8;

  &:hover {
    border:solid 5px #CF0021;
    box-shadow: 0 0 15px rgba(255, 255, 255,1);
    opacity: 1;
    text-shadow: 1px 1px 3px #CF0021;
  }
}

.movie-card-img {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center 10%;

}

.movie-card-info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}

.color-border {
  border-left: 1px solid #c68787;
}

.movie-card .card-rating {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}

.rating-design {
  background-color: #CF0021;
  padding: 6px 12px;
  border-radius: 15px;
}
