.btn-red-form {
  height: 42px;
  font-size: 16px;
  font-family: "Work Sans" Helvetica sans-serif;
  color: white;
  padding: 8px 29px;
  margin-top: 16px;
  background-color: #C30000;
  border: 1px solid white;
  border-radius: 2px;
  transition: ease-in-out 1s;
  overflow: hidden;
  &:hover {
    color: #CF0021;
    background: white;
    border: 1px solid #CF0021;
    text-decoration: none;
 }
}

.new-form {
  margin-top: 160px;
  padding: 32px;
  color: white;
  box-shadow: 0 0 15px #CF0021;
}
